body {
  background: #fff;
	font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #dd5f32;
  margin-top: 0px;
  margin-bottom: 0px;
}

a[disabled] {
    pointer-events: none;
    background: grey;
}

section {
  /*border-top: 1px solid #b6ada5;
  border-bottom: 1px solid #b6ada5;
  -moz-box-shadow: inset 0px 10px 20px -10px rgba(124, 110, 100, 1), inset 0px -10px 20px -10px rgba(124, 110, 100, 0.25);
  -webkit-box-shadow: inset 0px 10px 20px -10px rgba(124, 110, 100, 1), inset 0px -10px 20px -10px rgba(124, 110, 100, 0.25);
  box-shadow: inset 0px 10px 20px -10px rgba(124, 110, 100, 1), inset 0px -10px 20px -10px rgba(124, 110, 100, 0.25);*/
}

#container {
    margin-right: auto;
    margin-left: auto;
    width: 800px;

}

h2 {
  font-weight: 900;
}

#progress_bar {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  /*background: green;*/
  margin-left: auto;
  margin-right: auto;
  text-align: auto;
  border: 1px solid #b6ada5;
  text-align: left;
  border-radius: 5px;
  
}

#progress_bar > #full_progress {
  width: 70%;
  /*background: #26A65B;*/
  background: #26a65b; /* Old browsers */
  background: -moz-linear-gradient(left,  #26a65b 0%, #87d37c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #26a65b 0%,#87d37c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #26a65b 0%,#87d37c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26a65b', endColorstr='#87d37c',GradientType=1 ); /* IE6-9 */
  height: 20px;
  display:inline-block;
}

#progress_words {
  font-weight: 500;
}


#inner_container {
	background: #4f4f4f;
	width: 100%;
	/*margin-bottom: 30px;*/
}

#current_milk_container {
  /*background: #DECFC2;*/
  background: #faf6eb;
  /*height: 250px;*/
  padding-top: 30px;
  padding-bottom: 30px;
  color: #333333;

}

.button-look-orange {
    display: inline-block;
    background-color: #dd5f32;
    margin: 10px 10px 0;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    margin-top: 20px;
    text-decoration:none;
}

#graph_container {
  background: #cddce1;
  height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#selection_box {
  text-align: center;
  width: 100%;
}

#index_title {
	text-overflow: ellipsis;
	padding-top: 5px;
	padding-bottom: 5px;
  background: #f7e7d8;
}

.valign {
  display: table-cell;
  vertical-align: middle;
}


#train_container {
	background: #4f4f4f;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

hr { 
    
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dd5f32;
    margin: 1em 0;
    padding: 0; 
}

#cow_image {
  height: 100px;
}

#mat_number {
  margin-top: 15px;
  margin-bottom: 20px;
}

footer {
  background: #cddce1;
  
  text-align: center;
}

#back_button_container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#details_container {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 2;
  font-weight: 500;
}

#mat_number {
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  #container {
    width: 100%;
  }
}

@media screen and (max-width: 524px) {

  body {
    font-size: 12px;
  }

  #cow_image {
    height: 80px;
  }

  .button-look-orange {
    font-size: 12px;
  }

  #index_title {
    font-size: 16px;
  }

  #visits {
   font-size: 12px; 
  }

  #train_container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
}